{
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "arrowParens": "avoid",
  "semi": false,
  "printWidth": 140,
  "plugins": [
    "prettier-plugin-sort-imports"
  ],
  "importOrder": [
    ",^@app/(.*)$",
    "^@infrastructure/(.*)$",
    ",^@core/(.*)$",
    ",^@common/(.*)$",
    "^@modules/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
